@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


body{
  color: white;
  background-image: url('https://img.freepik.com/premium-photo/d-render-sports-car-with-lights-goes-camera-black-background_161488-1054.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width : 100vw;
  margin :0 ;
  overflow: hidden;
}